.frame-type-card_group, .frame-type-card_menu, .frame-type-menu_card_list {
    .card {
        text-align: center;

        .card-subtitle {
            font-size: 1rem;
        }

        .card-icon {
            color: $secondary;
        }
        .card-body  {
            p {
                text-align:justify;
            }
            ul, ol {
                text-align:left;
            }
            .card-title{
                text-align:left;
            }
            .card-icon + .card-heading .card-title {
                text-align:center;
            }

        }
        .card-img-top + .card-body .card-title {
            text-align:center;
        }
    }
}

