.frame-type-textteaser {
    .textteaser-teaser {
        order: 2;
        text-align: center;

        .element-header {
            a {
                position: relative;
                text-decoration: none;
                margin-right: 20px;
                &:after {
                    position: absolute;
                    top: 0;
                    right: -30px;
                    -webkit-transform: scale(0.5, 1); /* Safari and Chrome */
                    -moz-transform: scale(0.5, 1); /* Firefox */
                    -ms-transform: scale(0.5, 1); /* IE 9 */
                    -o-transform: scale(0.5, 1); /* Opera */
                    transform: scale(0.5, 1); /* W3C */
                    content: ">";
                }

                &:hover {
                    &:after {
                        right: -35px;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

}
